/* @media screen and (max-width: 800px){}*/

body {
  font-family: 'Kulim Park', sans-serif;
  background: #BEE7FA;
}
.container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.inputForm {
  margin-left: 170px;
  margin-right: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  background: #E0DDFE;
  width: 30%;
  margin-bottom: 20px;

}
.inputForm > h2{
color: #8089FA;
font-weight: bold;
margin-left: 20px;

}

input{
  color: #8089FA;
  margin-left: 30px;
  margin-bottom: 15px;
  height: 20px;
}
#userInput{
width: 50%;
color: #8089FA;
}

#search {
  width: 70px;
  height: 30px;
}

.info {
  background: #A393FC;
  width: 55%;
  margin-left: 170px;
}

.info > h1{
  color: white;
  margin-left: 2%;
  padding: 1%;
  font-weight: bolder;
}

.info > dl > dt{
color: white;
font-weight: bold;
font-size: 22px;
margin-left: 5%;
padding: 1%;
}



#modal{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  background-color: rgba(0,0.4,0,0.6);
	position: fixed;
	z-index: 1;
	overflow: auto;
  display: none;
}

#modal-textbox {
	background-color: #BEE7FA;
	height: 300px;
	width: 400px;
	border-radius: 2.6px;
  margin: 150px auto;
	box-shadow: 0 1px 1.7px rgba(0, 0, 0, 0.5);
  padding: 2%;
  line-height: 120%;
}

#modal-textbox > h1{
 padding-bottom: 15px;
 color: #8F68D9
}

#modal-textbox, h3, p {
  color: #A393FC;
}

#modal-footer{
    text-align: right;
    margin-top: 55px;
}

#close{
  color: #8089FA;
}


.modal-buttons{
  width: 70px;
  padding: 8px;
	color: #8089FA;
  font-size: 15px;
	cursor: pointer;
  display: inline;
  margin: 8px 0 10px 170px;
  padding: 5px;
}

#title{
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#director {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#actors {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#genre {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#year {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#awards {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#rated {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#type {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}

#runtime {
  color:#BEE7FA;
  font-size: 21px;
  font-style: oblique;
  margin-left: 75px;
}
