/* @media screen and (max-width: 800px){}*/

body {
  font-family: 'Kulim Park', sans-serif;
  background: #BEE7FA;
}
.container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.inputForm {
  margin-left: 35px;
  margin-right: 15px;
  flex-direction: column;
  background: #E0DDFE;
  width: 30%;
  margin-bottom: 20px;

}
.inputForm > h2{
color: #8089FA;
font-weight: bold;
margin-left: 40px;

}

input{
  color: #8089FA;
  margin-left: 40px;
  height: 20px;
}
#userInput{
width: 50%;
color: #8089FA;
}

#search {
  width: 70px;
  height: 30px;
}

.info {
  background: #A393FC;
  width: 50%;
  margin-left: 170px;
}

.info > h1{
  color: white;
  margin-left: 2%;
  padding: 5%;
  font-weight: bolder;
}

.info > dl > dt{
color: white;
font-weight: bold;
font-size: 22px;
margin-left: 5%;
padding: 3%;
}



#modal{
  background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

#modal-textbox {
	background-color: #BEE7FA;
	height: 300px;
	width: 400px;
	border-radius: 2.6px;
  margin: 150px auto;
	box-shadow: 0 1px 1.7px rgba(0, 0, 0, 0.5);
  padding: 2%;
  line-height: 120%;
}

#modal-textbox > h1{
 padding-bottom: 15px;
 color: #8F68D9
}

#modal-textbox, h3, p {
  color: #A393FC;
}

#modal-footer{
  padding: 2%;
  line-height: 100%;
  text-align: right;
}

#close{
  color: #8089FA;
}


.modal-buttons{
  width: 70px;
  padding: 8px;
	color: #8089FA;
  font-size: 15px;
	cursor: pointer;
  display: inline;
  margin: 8px 0 0 170px;
  padding: 5px;


}
